### Libraries and API Keys:

In [1]:
# Importing the necessary libraries:
import os
import pandas as pd
import numpy as np
import transformers
import langchain
import pymysql
import tiktoken
from langchain.text_splitter import TokenTextSplitter
from langchain import HuggingFaceHub, SQLDatabase, PromptTemplate, FewShotPromptTemplate
from langchain.chains import SQLDatabaseChain
from langchain.document_loaders.csv_loader import CSVLoader
from langchain.vectorstores import FAISS
from langchain.embeddings import HuggingFaceEmbeddings
from transformers import RagModel, RagTokenizer, RagRetriever

# Setting the environment for the Hugging face API:
os.environ["HUGGINGFACEHUB_API_TOKEN"] = "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"

### Flan-T5-xxl is the only reliable model:

In [2]:
# Prompt Attempt:
model = "google/flan-t5-xxl" #'Sandiago21/llama-7b-hf-prompt-answering'

llm = HuggingFaceHub(repo_id=model, model_kwargs={"temperature":0.5, "max_length":512})

prompt = "Alice has a parrot. What animal is Alice's pet?"
print(llm(prompt))

parrot

### Creating an LLM SQL chain with the winestore database

#### Intention is the to query the SQL DB with the LLM's response.

In [3]:
# Be sure to add the password to the db and the name of the schema
sql_uri = "mysql+pymysql://root:Liklik69&@localhost:3306/wine_store"

In [4]:
db = SQLDatabase.from_uri(sql_uri)

In [5]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

### Zero Shot:

In [6]:
PROMPT = """ 
Given an input question, first create a syntactically correct MySQL query to run,  
then look at the results of the query and return the answer.  
The question: {question}
"""

In [7]:
question = "what is the average price from the table purchasepricesdec?" 

db_chain.run(PROMPT.format(question=question))

> Entering new  chain...

Given an input question, first create a syntactically correct MySQL query to run,
then look at the results of the query and return the answer.
The question: what is the average price from the table purchasepricesdec?

SQLQuery:SELECT avg(Price) FROM purchasepricesdec
SQLResult: [(38.65188805482593,)]
Answer:38.65188805482593
> Finished chain.

'38.65188805482593'

### Few Shot:

In [8]:
# Few Shot:
examples = [
  {"question": "What is the average of the PurchasePrice in the table purchasepricesdec?",
    "answer": "26.48821956"},
  {"question": "How many unique values do we have in the Classification column in the table purchasepricesdec?",
    "answer": "2"},
  {"question": "How many rows do we have in the table purchasepricesdec?",
    "answer":"12262"},
  {"question": "What is the mode of the Volume column in purchasepricesdec table?",
    "answer":"750"}
]

example_prompt = PromptTemplate(input_variables=["question", "answer"], template="Question: {question}\n{answer}")

prompt = FewShotPromptTemplate(
    examples=examples, 
    example_prompt=example_prompt, 
    suffix="Question: {input}", 
    input_variables=["input"]
)

db_chain.run(prompt.format(input="What is the mean of the Volume column in the purchasepricesdec table?"))

> Entering new  chain...
Question: What is the average of the PurchasePrice in the table purchasepricesdec?
26.48821956

Question: How many unique values do we have in the Classification column in the table purchasepricesdec?
2

Question: How many rows do we have in the table purchasepricesdec?
12262

Question: What is the mode of the Volume column in purchasepricesdec table?
750

Question: What is the mean of the Volume column in the purchasepricesdec table?
SQLQuery:SELECT avg(T1.PurchasePrice) FROM purchase

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'wine_store.purchase' doesn't exist")
[SQL: SELECT avg(T1.PurchasePrice) FROM purchase]
(Background on this error at: https://sqlalche.me/e/14/f405)

### RAG model:

#### Using WikiSQL dataset for the retrieval queries. Create a vector database (FAISS indexed) of the csv file by embedding the csv and use the similarity search feature to query the LLM.

In [10]:
input_data = pd.read_csv(r"C:\Users\Rutvik\LLM_SQL\train\train_text2sql.csv")
input_data.head()

,question,sql
0,Tell me what the notes are for South Australia,SELECT Notes FROM table WHERE Current slogan =...
1,What is the current series where the new serie...,SELECT Current series FROM table WHERE Notes =...
2,What is the format for South Australia?,SELECT Format FROM table WHERE State/territory...
3,Name the background colour for the Australian ...,SELECT Text/background colour FROM table WHERE...
4,how many times is the fuel propulsion is cng?,SELECT COUNT Fleet Series (Quantity) FROM tabl...

In [11]:
# Using only 0.01 of the 54,000 rows of the train dataset as the embeddings is taking a long time.
#input_df = input_data.sample(frac=0.01)
#input_df.to_csv(r"C:\Users\Rutvik\LLM_SQL\train\train_text2sql_small.csv", index=False)

In [12]:
nl_and_sql = CSVLoader(file_path=r"C:\Users\Rutvik\LLM_SQL\train\train_text2sql_small.csv", encoding="utf8")
docs = nl_and_sql.load()
docs

[Document(page_content='question: How many different countries did the champion Se Ri Pak (2) represent?\nsql: SELECT COUNT Country FROM table WHERE Champion = Se Ri Pak (2)', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 0}),
 Document(page_content='question: On what date is Jerilyn Britz the runner-up?\nsql: SELECT Date FROM table WHERE Runner(s)-up = jerilyn britz', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 1}),
 Document(page_content='question: What is the fixed charge for the user who had a tariff of 11.30?\nsql: SELECT Fixed Charge ( Rs. /kWh) FROM table WHERE Tariff ( Rs. /kWh) = 11.30', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 2}),
 Document(page_content='question: How many people voted in Cabarrus county?\nsql: SELECT MIN Total FROM table WHERE County = Cabarrus', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 3}),
 Document(page_content='question: What is the sum for December that has 0.36 in July, and lager than 0.35000000000000003 in February?\nsql: SELECT SUM December FROM table WHERE July = 0.36 AND February > 0.35000000000000003', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 4}),
 Document(page_content='question: In which round was Gabriel Veiga the opponent?\nsql: SELECT Round FROM table WHERE Opponent = gabriel veiga', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 5}),
 Document(page_content='question: How many new entries are there for a second phase that has 4 winners from previous rounds?\nsql: SELECT New entries this round FROM table WHERE Phase = second phase AND Winners from previous round = 4', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 6}),
 Document(page_content='question: What away team has a score of 12.10 (82)?\nsql: SELECT Away team FROM table WHERE Away team score = 12.10 (82)', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 7}),
 Document(page_content='question: Who won the gold in 1958?\nsql: SELECT Gold FROM table WHERE Year = 1958', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 8}),
 Document(page_content='question: When did the duchess, who was married to philippe, die?\nsql: SELECT Death FROM table WHERE Spouse = philippe', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 9}),
 Document(page_content='question: What is the character for 2005?\nsql: SELECT Character FROM table WHERE Year = 2005', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 10}),
 Document(page_content='question: Which song directed by datta naik had the ending stranza written by Johnny Walker?\nsql: SELECT Additional Info FROM table WHERE Music Director = Datta Naik', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 11}),
 Document(page_content='question: What is the latest Date, when Label is Captain Oi! Records?\nsql: SELECT MAX Date FROM table WHERE Label = captain oi! records', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 12}),
 Document(page_content='question: Name the saka era for sign of zodiac being pisces\nsql: SELECT Saka era FROM table WHERE Sign of Zodiac = Pisces', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 13}),
 Document(page_content='question: What is Tournament, when Date is "9 August 1993"?\nsql: SELECT Tournament FROM table WHERE Date = 9 august 1993', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 14}),
 Document(page_content='question: When davao city is the  home or representative town or province and clash 2010 is the edition how many ages are there?\nsql: SELECT COUNT Age FROM table WHERE Edition = Clash 2010 AND Home or representative town or province = Davao City', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 15}),
 Document(page_content='question: List all home teams when Western Kentucky was the visiting team.\nsql: SELECT Home team FROM table WHERE Visiting team = Western Kentucky', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 16}),
 Document(page_content='question: What is the name of the player when n is 28?\nsql: SELECT Name FROM table WHERE N = 28', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 17}),
 Document(page_content='question: Which date has a Score of 46, 26?\nsql: SELECT Date FROM table WHERE Score = 46, 26', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 18}),
 Document(page_content='question: What was the first numbered episode in the series titled "the wind beneath our wings"?\nsql: SELECT MIN Series # FROM table WHERE Title = "The Wind Beneath Our Wings"', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 19}),
 Document(page_content='question: Who had the highest assists during the game on February 22?\nsql: SELECT High assists FROM table WHERE Date = february 22', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 20}),
 Document(page_content='question: What is the sum of people in attendance on September 8?\nsql: SELECT SUM Attendance FROM table WHERE Date = september 8', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 21}),
 Document(page_content='question: What is the ICAO for Air Busan?\nsql: SELECT ICAO FROM table WHERE CALLSIGN = air busan', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 22}),
 Document(page_content='question: How many races were there when Sigachev had 38 points?\nsql: SELECT MIN Races FROM table WHERE Points = 38', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 23}),
 Document(page_content='question: Tell me the doubles W-L for player of laurynas grigelis\nsql: SELECT Doubles WL FROM table WHERE Player = laurynas grigelis', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 24}),
 Document(page_content='question: what is the points total for forti corse?\nsql: SELECT SUM Points FROM table WHERE Entrant = forti corse', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 25}),
 Document(page_content='question: Which league is for baseball with Laredo Apaches?\nsql: SELECT League FROM table WHERE Sport = baseball AND Club = laredo apaches', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 26}),
 Document(page_content='question: What date is week 3?\nsql: SELECT Date FROM table WHERE Week = 3', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 27}),
 Document(page_content='question: what is the meaning of the latin day name "dies saturni"?\nsql: SELECT Latin day name meaning FROM table WHERE Glossed from Latin day name = Dies Saturni', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 28}),
 Document(page_content='question: What is the Season when the Opponent was zenit st. petersburg?\nsql: SELECT Season FROM table WHERE Opponent = zenit st. petersburg', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 29}),
 Document(page_content='question: Name the position for jordan cameron\nsql: SELECT Position FROM table WHERE Player = Jordan Cameron', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 30}),
 Document(page_content='question: What is the model of the engine d5244 t7?\nsql: SELECT Model name FROM table WHERE Engine code = D5244 T7', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 31}),
 Document(page_content='question: How many poles did team #14 ginn racing have?\nsql: SELECT Poles FROM table WHERE Team(s) = #14 Ginn Racing', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 32}),
 Document(page_content='question: In which week was the attendance 47,218?\nsql: SELECT SUM Week FROM table WHERE Attendance = 47,218', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 33}),
 Document(page_content='question: What clubs are in the evgrapi shevardnadze stadium?\nsql: SELECT Clubs FROM table WHERE Stadium = evgrapi shevardnadze stadium', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 34}),
 Document(page_content='question: At the rate where 1000 kwh/kwpy is 26.0, what is the value of 1600 kwh/kwpy?\nsql: SELECT 1600 kWh/kWpy FROM table WHERE 1000 kWh/kWpy = 26.0', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 35}),
 Document(page_content='question: What is the number of wins when scored was less than 26, and conceded was larger than 23?\nsql: SELECT SUM Wins FROM table WHERE Scored < 26 AND Conceded > 23', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 36}),
 Document(page_content='question: When 21 is the number in series what is the air date?\nsql: SELECT Original air date FROM table WHERE No. in series = 21', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 37}),
 Document(page_content='question: How many U.S Viewers, in millions, were for series # 26?\nsql: SELECT U.S. viewers (millions) FROM table WHERE Series # = 26', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 38}),
 Document(page_content='question: What was the method used when the time was 4:52?\nsql: SELECT Method FROM table WHERE Time = 4:52', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 39}),
 Document(page_content='question: Which Apogee has a Mission of maxus 3?\nsql: SELECT Apogee FROM table WHERE Mission = maxus 3', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 40}),
 Document(page_content='question: Which Losses have a Season larger than 1941, and a Team of hamilton wildcats, and Ties of 0?\nsql: SELECT Losses FROM table WHERE Season > 1941 AND Team = hamilton wildcats AND Ties = 0', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 41}),
 Document(page_content="question: Who is Doug Basham's team?\nsql: SELECT Team FROM table WHERE Wrestler = doug basham", metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 42}),
 Document(page_content='question: What team had a pick of 24 and an overall pick of 310?\nsql: SELECT School/Club Team FROM table WHERE Pick = 24 AND Overall Pick = 310', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 43}),
 Document(page_content='question: Who won 3rd place when the mutya ng pilipinas winner was  was rochelle romero ong?\nsql: SELECT 2nd runner-up FROM table WHERE Mutya ng Pilipinas Asia Pacific = Rochelle Romero Ong', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 44}),
 Document(page_content='question: What is the Location for the buick-goodwrench open?\nsql: SELECT Location FROM table WHERE Tournament = buick-goodwrench open', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 45}),
 Document(page_content="question: What was the Women's doubles that has a Men's singles of fernando silva, and in the year 1996?\nsql: SELECT Women's doubles FROM table WHERE Men's singles = fernando silva AND Year < 1996", metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 46}),
 Document(page_content='question: In what tournament was the winning score 68-67-65-66=266?\nsql: SELECT Tournament FROM table WHERE Winning score = 68-67-65-66=266', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 47}),
 Document(page_content='question: What is the score on 23 November 1983 with exeter city as the away team?\nsql: SELECT Score FROM table WHERE Date = 23 november 1983 AND Away team = exeter city', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 48}),
 Document(page_content='question: What is the 2000 number when the 1989 is less than 54.9 in Arizona, New Mexico, and Utah?\nsql: SELECT SUM 2000 FROM table WHERE 1989 < 54.9 AND Location = arizona, new mexico, and utah', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 49}),
 Document(page_content='question: What Time has Date of May 9?\nsql: SELECT Time FROM table WHERE Date = may 9', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 50}),
 Document(page_content='question: What is the prize money for Virginia?\nsql: SELECT 1st Prize( $ ) FROM table WHERE Location = Virginia', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 51}),
 Document(page_content='question: What is the best top 10 when there are fewer than 0 wins?\nsql: SELECT MAX Top 10s FROM table WHERE Wins < 0', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 52}),
 Document(page_content='question: What language was the film Pelle Erobreren, which received the best actor nomination, in?\nsql: SELECT Language FROM table WHERE Category = best actor AND Original title = pelle erobreren', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 53}),
 Document(page_content='question: What is the report for 10 october?\nsql: SELECT Report FROM table WHERE Date = 10 october', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 54}),
 Document(page_content='question: Which points classification was used in stage 15?\nsql: SELECT Points classification FROM table WHERE Stage = 15', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 55}),
 Document(page_content='question: Name the scott for chloropsis hardwickii\nsql: SELECT Scott FROM table WHERE Species = Chloropsis hardwickii', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 56}),
 Document(page_content='question: what is the school that left in 1966?\nsql: SELECT School FROM table WHERE Year Left = 1966', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 57}),
 Document(page_content='question: What is the highest points value for the 500cc class in years after 1962 with 0 wins?\nsql: SELECT MAX Points FROM table WHERE Class = 500cc AND Year > 1962 AND Wins < 0', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 58}),
 Document(page_content='question: Who is the manufacturer when 150.088 is the average speed (mph)?\nsql: SELECT Manufacturer FROM table WHERE Average Speed (mph) = 150.088', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 59}),
 Document(page_content='question: How many average total matches have league cup as the competition, with a draw greater than 0?\nsql: SELECT AVG Total Matches FROM table WHERE Competition = league cup AND Draw > 0', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 60}),
 Document(page_content='question: What district was John Dawson from?\nsql: SELECT District FROM table WHERE Incumbent = John Dawson', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 61}),
 Document(page_content='question: What position did pick 36 play?\nsql: SELECT Position FROM table WHERE Pick = 36', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 62}),
 Document(page_content='question: What time did the game start on saturday, april 20?\nsql: SELECT Kickoff FROM table WHERE Date = Saturday, April 20', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 63}),
 Document(page_content='question: What is the Score on November 23, 1946 with Washington Capitols Home team?\nsql: SELECT Score FROM table WHERE Home = washington capitols AND Date = november 23, 1946', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 64}),
 Document(page_content='question: What was the record after game 45?\nsql: SELECT Record FROM table WHERE Game = 45', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 65}),
 Document(page_content='question: What is the lowest bronze number when silver shows 2, and the total is 8?\nsql: SELECT MIN Bronze FROM table WHERE Silver = 2 AND Total = 8', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 66}),
 Document(page_content='question: What state has Richard Foster as a member?\nsql: SELECT State FROM table WHERE Member = richard foster', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 67}),
 Document(page_content='question: What is the points number when rebounds is 4.4?\nsql: SELECT Points FROM table WHERE Rebounds = 4.4', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 68}),
 Document(page_content='question: What was the crowd attendance for the game with an away team score of 14.10 (94)?\nsql: SELECT SUM Crowd FROM table WHERE Away team score = 14.10 (94)', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 69}),
 Document(page_content='question: What is the competition that had a 2-2 result?\nsql: SELECT Competition FROM table WHERE Result = 2-2', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 70}),
 Document(page_content="question: What was actor Teresa Graves's series before the year 1993?\nsql: SELECT Series FROM table WHERE Year < 1993 AND Actor = teresa graves", metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 71}),
 Document(page_content='question: What shows for House 1950 when the Governors 1950 show governors 1995?\nsql: SELECT House 1950 FROM table WHERE Governors 1950 = governors 1995', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 72}),
 Document(page_content='question: Name the total number of total with silver of 6, bronze more than 5 and gold less than 4\nsql: SELECT COUNT Total FROM table WHERE Silver = 6 AND Bronze > 5 AND Gold < 4', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 73}),
 Document(page_content='question: Which player went to Michigan State?\nsql: SELECT Player name FROM table WHERE College = Michigan State', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 74}),
 Document(page_content='question: What is the name of the Winner in north carolina at the greater greensboro open?\nsql: SELECT Winner FROM table WHERE Location = north carolina AND Tournament = greater greensboro open', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 75}),
 Document(page_content='question: What is the state of the city of denver, which has a rank less than 10?\nsql: SELECT State FROM table WHERE Rank < 10 AND City = denver', metadata={'source': 'C:\\Users\\Rutvik\\LLM_SQL\\train\\train_text2sql_small.csv', 'row': 76}),

#### Vector Database:

In [9]:
from sentence_transformers import SentenceTransformer
model = SentenceTransformer('all-MiniLM-L6-v2')

#Our sentences we like to encode
sentences = ['This framework generates embeddings for each input sentence',
    'Sentences are passed as a list of string.',
    'The quick brown fox jumps over the lazy dog.']

#Sentences are encoded by calling model.encode()
embeddings = model.encode(sentences)

#Print the embeddings
for sentence, embedding in zip(sentences, embeddings):
    print("Sentence:", sentence)
    print("Embedding:", embedding)
    print("")

Sentence: This framework generates embeddings for each input sentence
Embedding: [-1.37173375e-02 -4.28515524e-02 -1.56286061e-02  1.40537517e-02
  3.95537987e-02  1.21796295e-01  2.94333640e-02 -3.17523815e-02
  3.54959480e-02 -7.93140158e-02  1.75878331e-02 -4.04369719e-02
  4.97259796e-02  2.54912823e-02 -7.18700588e-02  8.14968571e-02
  1.47074426e-03  4.79627438e-02 -4.50336039e-02 -9.92174968e-02
 -2.81769708e-02  6.45046085e-02  4.44670543e-02 -4.76217009e-02
 -3.52952927e-02  4.38671596e-02 -5.28566539e-02  4.32992238e-04
  1.01921462e-01  1.64072327e-02  3.26996557e-02 -3.45986672e-02
  1.21339196e-02  7.94871375e-02  4.58344072e-03  1.57778300e-02
 -9.68208164e-03  2.87625827e-02 -5.05806468e-02 -1.55794267e-02
 -2.87907030e-02 -9.62285884e-03  3.15556601e-02  2.27349512e-02
  8.71449560e-02 -3.85027416e-02 -8.84718373e-02 -8.75498727e-03
 -2.12342981e-02  2.08923817e-02 -9.02077556e-02 -5.25732338e-02
 -1.05638532e-02  2.88310889e-02 -1.61455162e-02  6.17843913e-03
 -1.23234466e-02 -1.07337404e-02  2.83353571e-02 -5.28567843e-02
 -3.58618237e-02 -5.97989187e-02 -1.09055117e-02  2.91566532e-02
  7.97979087e-02 -3.27879359e-04  6.83500012e-03  1.32718366e-02
 -4.24619950e-02  1.87657028e-02 -9.89234000e-02  2.09049731e-02
 -8.69605616e-02 -1.50152426e-02 -4.86201979e-02  8.04415047e-02
 -3.67701566e-03 -6.65044412e-02  1.14556789e-01 -3.04228887e-02
  2.96631921e-02 -2.80695464e-02  4.64990251e-02 -2.25513838e-02
  8.54223073e-02  3.15446481e-02  7.34541714e-02 -2.21862309e-02
 -5.29678985e-02  1.27130402e-02 -5.27340099e-02 -1.06188707e-01
  7.04731867e-02  2.76736692e-02 -8.05531591e-02  2.39649322e-02
 -2.65124831e-02 -2.17330959e-02  4.35275286e-02  4.84712012e-02
 -2.37067193e-02  2.85768453e-02  1.11846097e-01 -6.34936616e-02
 -1.58318616e-02 -2.26169694e-02 -1.31027708e-02 -1.62070699e-03
 -3.60929035e-02 -9.78296921e-02 -4.67728898e-02  1.76271684e-02
 -3.97492200e-02 -1.76442758e-04  3.39627676e-02 -2.09633689e-02
  6.33664010e-03 -2.59411056e-02  8.10409933e-02  6.14393651e-02
 -5.44595998e-03  6.48275912e-02 -1.16844043e-01  2.36860532e-02
 -1.32058868e-02 -1.12476446e-01  1.90049391e-02 -1.74659795e-34
  5.58950081e-02  1.94244571e-02  4.65438552e-02  5.18645607e-02
  3.89390625e-02  3.40540893e-02 -4.32114154e-02  7.90637285e-02
 -9.79530364e-02 -1.27441548e-02 -2.91870181e-02  1.02051925e-02
  1.88116059e-02  1.08942561e-01  6.63465485e-02 -5.35295494e-02
 -3.29228565e-02  4.69826944e-02  2.28883307e-02  2.74114665e-02
 -2.91983411e-02  3.12706418e-02 -2.22851001e-02 -1.02282226e-01
 -2.79116910e-02  1.13793407e-02  9.06308442e-02 -4.75414656e-02
 -1.00718968e-01 -1.23231877e-02 -7.96928853e-02 -1.44636100e-02
 -7.76400715e-02 -7.66923791e-03  9.73954704e-03  2.24204697e-02
  7.77268112e-02 -3.17160622e-03  2.11538319e-02 -3.30394022e-02
  9.55244340e-03 -3.73012051e-02  2.61360630e-02 -9.79087502e-03
 -6.31505400e-02  5.77435363e-03 -3.80030610e-02  1.29684890e-02
 -1.82499010e-02 -1.56282987e-02 -1.23359251e-03  5.55578768e-02
  1.13084017e-04 -5.61256893e-02  7.40165561e-02  1.84452236e-02
 -2.66368277e-02  1.31952092e-02  7.50086829e-02 -2.46796925e-02
 -3.24005894e-02 -1.57675054e-02 -8.03517830e-03 -5.61317289e-03
  1.05687920e-02  3.26165836e-03 -3.91990170e-02 -9.38677490e-02
  1.14227153e-01  6.57304749e-02 -4.72633615e-02  1.45087782e-02
 -3.54490429e-02 -3.37761492e-02 -5.15506119e-02 -3.81002459e-03
 -5.15036322e-02 -5.93429282e-02 -1.69411895e-03  7.42107481e-02
 -4.20091413e-02 -7.19974935e-02  3.17250304e-02 -1.66303460e-02
  3.96985514e-03 -6.52750507e-02  2.77390815e-02 -7.51648545e-02
  2.27455776e-02 -3.91368344e-02  1.54316295e-02 -5.54908328e-02
  1.23318648e-02 -2.59520747e-02  6.66423663e-02 -6.91259050e-34
  3.31628695e-02  8.47929344e-02 -6.65583685e-02  3.33541557e-02
  4.71611926e-03  1.35361915e-02 -5.38694151e-02  9.20693949e-02
 -2.96876431e-02  3.16219442e-02 -2.37497482e-02  1.98770929e-02
  1.03446215e-01 -9.06947553e-02  6.30623754e-03  1.42886061e-02
  1.19293397e-02  6.43727090e-03  4.20104638e-02  1.25344545e-02
  3.93019542e-02  5.35691269e-02 -4.30750065e-02  6.10432476e-02
 -5.39323628e-05  6.91682622e-02  1.05520310e-02  1.22111551e-02
 -7.23184869e-02  2.50469651e-02 -5.18370867e-02 -4.36562188e-02
 -6.71818703e-02  1.34828063e-02 -7.25888833e-02  7.04167131e-03
  6.58939406e-02  1.08994441e-02 -2.60011922e-03  5.49968854e-02
  5.06966822e-02  3.27948630e-02 -6.68833256e-02  6.45557195e-02
 -2.52076089e-02 -2.92572156e-02 -1.16696738e-01  3.24064307e-02
  5.85858747e-02 -3.51756364e-02 -7.15240091e-02  2.24936213e-02
 -1.00786723e-01 -4.74544913e-02 -7.61962906e-02 -5.87166324e-02
  4.21138555e-02 -7.47213587e-02  1.98468138e-02 -3.36507126e-03
 -5.29736690e-02  2.74729803e-02  3.45736817e-02 -6.11846745e-02
  1.06364846e-01 -9.64120254e-02 -4.55944687e-02  1.51489563e-02
 -5.13529219e-03 -6.64447621e-02  4.31721509e-02 -1.10405711e-02
 -9.80249047e-03  7.53783360e-02 -1.49570461e-02 -4.80208769e-02
  5.80726974e-02 -2.43896283e-02 -2.23137606e-02 -4.36992235e-02
  5.12054041e-02 -3.28625515e-02  1.08763315e-01  6.08926490e-02
  3.30794230e-03  5.53819947e-02  8.43200609e-02  1.27087319e-02
  3.84465531e-02  6.52325824e-02 -2.94683762e-02  5.08005619e-02
 -2.09348407e-02  1.46135658e-01  2.25561298e-02 -1.77227761e-08
 -5.02672829e-02 -2.79204105e-04 -1.00328572e-01  2.42811404e-02
 -7.54043758e-02 -3.79139856e-02  3.96049842e-02  3.10079698e-02
 -9.05700587e-03 -6.50411546e-02  4.05453146e-02  4.83390242e-02
 -4.56962325e-02  4.76007815e-03  2.64362525e-03  9.35614184e-02
 -4.02599163e-02  3.27402018e-02  1.18298223e-02  5.54344989e-02
  1.48052230e-01  7.21189305e-02  2.76945619e-04  1.68651100e-02
  8.34879652e-03 -8.76155682e-03 -1.33649735e-02  6.14237525e-02
  1.57167446e-02  6.94961026e-02  1.08621586e-02  6.08018190e-02
 -5.33421449e-02 -3.47924232e-02 -3.36272456e-02  6.93906844e-02
  1.22987805e-02 -1.45237386e-01 -2.06971704e-03 -4.61132564e-02
  3.72745702e-03 -5.59355086e-03 -1.00659832e-01 -4.45953310e-02
  5.40921502e-02  4.98891063e-03  1.49534633e-02 -8.26059803e-02
  6.26631156e-02 -5.01909247e-03 -4.81857844e-02 -3.53991166e-02
  9.03388485e-03 -2.42338087e-02  5.66267669e-02  2.51529291e-02
 -1.70708764e-02 -1.24780200e-02  3.19518410e-02  1.38420779e-02
 -1.55814616e-02  1.00178234e-01  1.23657219e-01 -4.22967263e-02]

Sentence: Sentences are passed as a list of string.
Embedding: [ 5.64525314e-02  5.50024137e-02  3.13795917e-02  3.39485109e-02
 -3.54246870e-02  8.34667534e-02  9.88800451e-02  7.27540161e-03
 -6.68658642e-03 -7.65806995e-03  7.93738067e-02  7.39651383e-04
  1.49291996e-02 -1.51046943e-02  3.67674902e-02  4.78743054e-02
 -4.81969714e-02 -3.76051888e-02 -4.60278168e-02 -8.89815986e-02
  1.20228142e-01  1.30663231e-01 -3.73936221e-02  2.47854437e-03
  2.55815824e-03  7.25814477e-02 -6.80436492e-02 -5.24696149e-02
  4.90234047e-02  2.99562849e-02 -5.84429577e-02 -2.02263612e-02
  2.08821762e-02  9.76692662e-02  3.52390558e-02  3.91140804e-02
  1.05668390e-02  1.56234112e-03 -1.30823143e-02  8.52905307e-03
 -4.84091183e-03 -2.03766786e-02 -2.71800570e-02  2.83307601e-02
  3.66017930e-02  2.51276139e-02 -9.90861654e-02  1.15626371e-02
 -3.60380113e-02 -7.23784193e-02 -1.12670138e-01  1.12942420e-02
 -3.86396982e-02  4.67386506e-02 -2.88460925e-02  2.26703659e-02
 -8.52407422e-03  3.32814902e-02 -1.06580276e-03 -7.09745511e-02
 -6.31170049e-02 -5.72186820e-02 -6.16026297e-02  5.47146387e-02
  1.18317446e-02 -4.66261022e-02  2.56959535e-02 -7.07412930e-03
 -5.73842339e-02  4.12839577e-02 -5.91503307e-02  5.89021668e-02
 -4.41697314e-02  4.65080477e-02 -3.15813981e-02  5.58312647e-02
  5.54578751e-02 -5.96533455e-02  4.06407230e-02  4.83768201e-03
 -4.96768355e-02 -1.00944348e-01  3.40078026e-02  4.13270760e-03
 -2.93524517e-03  2.11837683e-02 -3.73962224e-02 -2.79067028e-02
 -4.61767837e-02  5.26138507e-02 -2.79734861e-02 -1.62379265e-01
  6.61042258e-02  1.72273964e-02 -5.45113767e-03  4.74474132e-02
 -3.82237025e-02 -3.96897122e-02  1.34544596e-02  4.49653901e-02
  4.53672884e-03  2.82978807e-02  8.36633146e-02 -1.00858221e-02
 -1.19353987e-01 -3.84624265e-02  4.82858829e-02 -9.46084037e-02
  1.91854183e-02 -9.96518731e-02 -6.30596951e-02  3.02696079e-02
  1.17402216e-02 -4.78372239e-02 -6.20266097e-03 -3.32850367e-02
 -4.04392555e-03  1.28307296e-02  4.05254439e-02  7.56476372e-02
  2.92435065e-02  2.84270830e-02 -2.78938673e-02  1.66858304e-02
 -2.47961637e-02 -6.83651045e-02  2.89968811e-02 -5.39867821e-33
 -2.69013876e-03 -2.65069213e-02 -6.47945621e-04 -8.46194942e-03
 -7.35155046e-02  4.94084693e-03 -5.97841926e-02  1.03438254e-02
  2.12904764e-03 -2.88218213e-03 -3.17076556e-02 -9.42364782e-02
  3.03019583e-02  7.00227171e-02  4.50685807e-02  3.69439721e-02
  1.13593172e-02  3.53027023e-02  5.50452666e-03  1.34417228e-03
  3.46122379e-03  7.75047392e-02  5.45112304e-02 -7.92055726e-02
 -9.31696743e-02 -4.03398722e-02  3.10668591e-02 -3.83081399e-02
 -5.89443371e-02  1.93331875e-02 -2.67160088e-02 -7.91937783e-02
  1.04214654e-04  7.70621151e-02  4.16603498e-02  8.90932679e-02
  3.56843509e-02 -1.09152962e-02  3.71498801e-02 -2.07070485e-02
 -2.46100891e-02 -2.05025524e-02  2.62201335e-02  3.43590602e-02
  4.39251214e-02 -8.20521079e-03 -8.40710402e-02  4.24170680e-02
  4.87498790e-02  5.95384911e-02  2.87747309e-02  3.37638035e-02
 -4.07443121e-02 -1.66374771e-03  7.91927502e-02  3.41088586e-02
 -5.72793244e-04  1.87750235e-02 -1.36963855e-02  7.38333240e-02
  5.74523176e-04  8.33504945e-02  5.60811013e-02 -1.13710826e-02
  4.42611314e-02  2.69581638e-02 -4.80536036e-02 -3.15087065e-02
  7.75226280e-02  1.81773249e-02 -8.83005187e-02 -7.85520393e-03
 -6.22243285e-02  7.19372779e-02 -2.33475007e-02  6.52483525e-03
 -9.49526113e-03 -9.88312736e-02  4.01306674e-02  3.07397135e-02
 -2.21607313e-02 -9.45910960e-02  1.02367504e-02  1.02187797e-01
 -4.12960164e-02 -3.15777697e-02  4.74752001e-02 -1.10209785e-01
  1.69614293e-02 -3.71709540e-02 -1.03262272e-02 -4.72538173e-02
 -1.20213833e-02 -1.93255376e-02  5.79292364e-02  4.23867192e-34
  3.92013080e-02  8.41361657e-02 -1.02946669e-01  6.92259744e-02
  1.68821011e-02 -3.26760970e-02  9.65958089e-03  1.80899687e-02
  2.17939876e-02  1.63189955e-02 -9.69292223e-02  3.74851958e-03
 -2.38456931e-02 -3.44055966e-02  7.11962953e-02  9.21934901e-04
 -6.23857835e-03  3.23754027e-02 -8.90417141e-04  5.01906779e-03
 -4.24538478e-02  9.89084169e-02 -4.60320935e-02  4.69705313e-02
 -1.75284315e-02 -7.02520553e-03  1.32743390e-02 -5.30151799e-02
  2.66404916e-03  1.45818898e-02  7.43341958e-03 -3.07131633e-02
 -2.09416393e-02  8.24110284e-02 -5.15893735e-02 -2.71178540e-02
  1.17583029e-01  7.72504741e-03 -1.89523008e-02  3.94559689e-02
  7.17360377e-02  2.59117037e-02  2.75191441e-02  9.50542558e-03
 -3.02355327e-02 -4.07944284e-02 -1.04028441e-01 -7.97422696e-03
 -3.64454160e-03  3.29716615e-02 -2.35954951e-02 -7.50511792e-03
 -5.82234301e-02 -3.17906067e-02 -4.18049321e-02  2.17453670e-02
 -6.67291954e-02 -4.89104129e-02  4.58518136e-03 -2.66046729e-02
 -1.12597018e-01  5.11167869e-02  5.48534207e-02 -6.69857040e-02
  1.26766339e-01 -8.59487653e-02 -5.94231784e-02 -2.92189652e-03
 -1.14876470e-02 -1.26025781e-01 -3.48281558e-03 -9.12001804e-02
 -1.22933067e-01  1.33777335e-02 -4.75775041e-02 -6.57933727e-02
 -3.39410603e-02 -3.07107456e-02 -5.22034168e-02 -2.35464051e-02
  5.90034984e-02 -3.85757945e-02  3.19701210e-02  4.05118428e-02
  1.67077966e-02 -3.58280987e-02  1.45688355e-02  3.20137851e-02
 -1.34843541e-02  6.07819557e-02 -8.31400510e-03 -1.08106406e-02
  4.69410680e-02  7.66133890e-02 -4.23400626e-02 -2.11963318e-08
 -7.25293085e-02 -4.20227870e-02 -6.12374209e-02  5.24666682e-02
 -1.42364101e-02  1.18486863e-02 -1.40788946e-02 -3.67530026e-02
 -4.44977470e-02 -1.15140276e-02  5.23316562e-02  2.96652075e-02
 -4.62780297e-02 -3.70892249e-02  1.89129896e-02  2.04307158e-02
 -2.24006120e-02 -1.48562519e-02 -1.79503951e-02  4.20008153e-02
  1.40942847e-02 -2.83492878e-02 -1.16863027e-01  1.48957027e-02
 -7.30542932e-04  5.66027984e-02 -2.68740170e-02  1.09106667e-01
  2.94567947e-03  1.19267873e-01  1.14212446e-01  8.92973393e-02
 -1.70255192e-02 -4.99053635e-02 -2.11930722e-02  3.18421423e-02
  7.03435913e-02 -1.02929436e-01  8.23816434e-02  2.81968378e-02
  3.21146138e-02  3.79107855e-02 -1.09553136e-01  8.19620267e-02
  8.73216391e-02 -5.73563837e-02 -2.01709364e-02 -5.69444411e-02
 -1.30338278e-02 -5.55684268e-02 -1.32966274e-02  8.64011236e-03
  5.30012809e-02 -4.06846888e-02  2.71708779e-02 -2.55954359e-03
  3.05775627e-02 -4.61865552e-02  4.68035648e-03 -3.64947245e-02
  6.80802837e-02  6.65087402e-02  8.49151686e-02 -3.32848914e-02]

Sentence: The quick brown fox jumps over the lazy dog.
Embedding: [ 4.39335071e-02  5.89344129e-02  4.81783859e-02  7.75481090e-02
  2.67443899e-02 -3.76295634e-02 -2.60512857e-03 -5.99430688e-02
 -2.49600690e-03  2.20728684e-02  4.80259024e-02  5.57552762e-02
 -3.89453992e-02 -2.66168658e-02  7.69335823e-03 -2.62376219e-02
 -3.64160836e-02 -3.78161147e-02  7.40781724e-02 -4.95050251e-02
 -5.85217103e-02 -6.36196807e-02  3.24350409e-02  2.20085643e-02
 -7.10637867e-02 -3.31577994e-02 -6.94104210e-02 -5.00374287e-02
  7.46268108e-02 -1.11133836e-01 -1.23063223e-02  3.77455801e-02
 -2.80312896e-02  1.45353973e-02 -3.15585844e-02 -8.05836394e-02
  5.83525673e-02  2.59006582e-03  3.92802060e-02  2.57695951e-02
  4.98505943e-02 -1.75624038e-03 -4.55297790e-02  2.92607620e-02
 -1.02017254e-01  5.22287861e-02 -7.90899619e-02 -1.02857323e-02
  9.20248497e-03  1.30732683e-02 -4.04777639e-02 -2.77925059e-02
  1.24666840e-02  6.72833100e-02  6.81248307e-02 -7.57116079e-03
 -6.09943038e-03 -4.23777774e-02  5.17816320e-02 -1.56707652e-02
  9.56357922e-03  4.12390232e-02  2.14959364e-02  1.04293600e-02
  2.73349397e-02  1.87062696e-02 -2.69607455e-02 -7.00541437e-02
 -1.04700506e-01 -1.89874927e-03  1.77016873e-02 -5.74725345e-02
 -1.44223049e-02  4.70500148e-04  2.33222288e-03 -2.51920074e-02
  4.93004024e-02 -5.09609357e-02  6.31982908e-02  1.49165299e-02
 -2.70766541e-02 -4.52876203e-02 -4.90594134e-02  3.74940559e-02
  3.84579934e-02  1.56905386e-03  3.09921801e-02  2.01630443e-02
 -1.24363359e-02 -3.06719951e-02 -2.78819129e-02 -6.89182654e-02
 -5.13677187e-02  2.14795452e-02  1.15746781e-02  1.25405507e-03
  1.88765265e-02 -4.42318805e-02 -4.49817255e-02 -3.41871730e-03
  1.31131625e-02  2.00099275e-02  1.21099785e-01  2.31074970e-02
 -2.20159627e-02 -3.28847133e-02 -3.15514044e-03  1.17812946e-04
  9.91498828e-02  1.65238865e-02 -4.69665928e-03 -1.45367105e-02
 -3.71076027e-03  9.65136290e-02  2.85908487e-02  2.13481989e-02
 -7.17645139e-02 -2.41141822e-02 -4.40940224e-02 -1.07346833e-01
  6.79946244e-02  1.30466759e-01 -7.97029436e-02  6.79500634e-03
 -2.37512160e-02 -4.61636707e-02 -2.99650356e-02 -3.69410047e-33
  7.30969906e-02 -2.20171828e-02 -8.61464888e-02 -7.14379400e-02
 -6.36741295e-02 -7.21863508e-02 -5.93048986e-03 -2.33641807e-02
 -2.83658542e-02  4.77434620e-02 -8.06176811e-02 -1.56473368e-03
  1.38443410e-02 -2.86236461e-02 -3.35386544e-02 -1.13777556e-01
 -9.17635392e-03 -1.08100660e-02  3.23196128e-02  5.88380583e-02
  3.34208906e-02  1.07987933e-01 -3.72713320e-02 -2.96770092e-02
  5.17189540e-02 -2.25338694e-02 -6.96090758e-02 -2.14475337e-02
 -2.33410988e-02  4.82199676e-02 -3.58766280e-02 -4.68991436e-02
 -3.97873335e-02  1.10813223e-01 -1.43007608e-02 -1.18464470e-01
  5.82914874e-02 -6.25889674e-02 -2.94040460e-02  6.03238866e-02
 -2.44413037e-03  1.60115752e-02  2.67233439e-02  2.49530990e-02
 -6.49318993e-02 -1.06802313e-02  2.81465072e-02  1.03563340e-02
 -6.63627230e-04  1.98186431e-02 -3.04288957e-02  6.28420990e-03
  5.15268743e-02 -4.75375317e-02 -6.44421056e-02  9.55032185e-02
  7.55858570e-02 -2.81574447e-02 -3.49965841e-02  1.01816453e-01
  1.98732447e-02 -3.68036553e-02  2.93520908e-03 -5.00745103e-02
  1.50932178e-01 -6.16079159e-02 -8.58813375e-02  7.13993004e-03
 -1.33065991e-02  7.80404806e-02  1.75250638e-02  4.21278924e-02
  3.57939601e-02 -1.32950410e-01  3.56970094e-02 -2.03116685e-02
  1.24909645e-02 -3.80355343e-02  4.91543114e-02 -1.56541243e-02
  1.21418171e-01 -8.08644369e-02 -4.68781739e-02  4.10843343e-02
 -1.84318256e-02  6.69691414e-02  4.33596876e-03  2.27315240e-02
 -1.36428736e-02 -4.53238823e-02 -3.92829739e-02 -6.29893085e-03
  5.29610030e-02 -3.69064845e-02  7.11677223e-02  2.33343324e-33
  1.05231345e-01 -4.81874384e-02  6.95919320e-02  6.56976476e-02
 -4.65149544e-02  5.14492616e-02 -1.24475397e-02  3.20871361e-02
 -9.23356637e-02  5.00932522e-02 -3.28877158e-02  1.39139183e-02
 -8.70205695e-04 -4.90903854e-03  1.03946440e-01  3.21587606e-04
  5.28110862e-02 -1.17990486e-02  2.31565312e-02  1.31767420e-02
 -5.25963306e-02  3.26702483e-02  3.08677001e-04  6.41129017e-02
  3.88500504e-02  5.88008389e-02  8.29793289e-02 -1.88149400e-02
 -2.26376839e-02 -1.00473620e-01 -3.83752659e-02 -5.88081554e-02
  1.82425044e-03 -4.26995009e-02  2.50195358e-02  6.40060231e-02
 -3.77482623e-02 -6.83901459e-03 -2.54603615e-03 -9.76042598e-02
  1.88476462e-02 -8.83210276e-04  1.73611846e-02  7.10790381e-02
  3.30393165e-02  6.93425816e-03 -5.60523532e-02  5.14634661e-02
 -4.29542214e-02  4.60077263e-02 -8.78837984e-03  3.17289494e-02
  4.93965633e-02  2.95189880e-02 -5.05192801e-02 -5.43186888e-02
  1.49953092e-04 -2.76614446e-02  3.46878432e-02 -2.10890453e-02
  1.38060134e-02  2.99886782e-02  1.39744859e-02 -4.26468439e-03
 -1.50337238e-02 -8.76094997e-02 -6.85053468e-02 -4.28141057e-02
  7.76945353e-02 -7.10285380e-02 -7.37691252e-03  2.13727057e-02
  1.35562643e-02 -7.90464878e-02  5.47668012e-03  8.30663666e-02
  1.14148080e-01  1.80765381e-03  8.75490978e-02 -4.16045040e-02
  1.55415991e-02 -1.01206154e-02 -7.32437475e-03  1.07966354e-02
 -6.62817061e-02  3.98414284e-02 -1.16711535e-01  6.42993897e-02
  4.02920060e-02 -6.54741526e-02  1.95052493e-02  8.09995458e-02
  5.36462925e-02  7.67969564e-02 -1.34852631e-02 -1.76919066e-08
 -4.43934985e-02  9.20644123e-03 -8.79590437e-02  4.26921397e-02
  7.31365159e-02  1.68427844e-02 -4.03263196e-02  1.85131039e-02
  8.44172165e-02 -3.74477096e-02  3.02996449e-02  2.90641878e-02
  6.36879206e-02  2.89750341e-02 -1.47269750e-02  1.77543089e-02
 -3.36895511e-02  1.73161440e-02  3.37875262e-02  1.76826105e-01
 -1.75533444e-02 -6.03077784e-02 -1.43394116e-02 -2.38536578e-02
 -4.45531011e-02 -2.89850123e-02 -8.96776393e-02 -1.75943761e-03
 -2.61486191e-02  5.93999773e-03 -5.18355332e-02  8.57279524e-02
 -8.18398967e-02  8.35442636e-03  4.00790460e-02  4.17764112e-02
  1.04573533e-01 -2.86558107e-03  1.96690951e-02  5.81049593e-03
  1.33253327e-02  4.51000929e-02 -2.17588395e-02 -1.39493067e-02
 -6.86992630e-02 -2.94113974e-03 -3.10765281e-02 -1.05854400e-01
  6.91624135e-02 -4.24114689e-02 -4.67682593e-02 -3.64750922e-02
  4.50399853e-02  6.09817058e-02 -6.56561479e-02 -5.45639778e-03
 -1.86226945e-02 -6.31484389e-02 -3.87436785e-02  3.46733741e-02
  5.55458516e-02  5.21627739e-02  5.61065264e-02  1.02063909e-01]

In [17]:
# Split text into chunks of 512 tokens, with 20% token overlap:
text_splitter = TokenTextSplitter(chunk_size=512, chunk_overlap=103)

def num_tokens_from_string(string: str, encoding_name="cl100k_base") -> int:
    """Calculate number of tokens in a text string."""
    if not string:
        return 0
    
    # Returns the number of tokens in a text string
    encoding = tiktoken.get_encoding(encoding_name)
    num_tokens = len(encoding.encode(string))
    
    return num_tokens

In [19]:
# List for smaller chunked text and metadata:
new_list = []

# Create a new list by splitting up text into token sizes of around 512 tokens:
for i in range(len(input_data.index)):
    text = input_data['question'][i]
    token_len = num_tokens_from_string(text)
    if token_len <= 512:
        new_list.append([input_data['question'][i], input_data['sql'][i]])
    else:
        #split text into chunks using text splitter
        split_text = text_splitter.split_text(text)
        for j in range(len(split_text)):
            new_list.append([input_data['question'][i], split_text[j], input_data['sql'][i]])

In [20]:
df_new = pd.DataFrame(new_list, columns=['question', 'sql'])
df_new.head()

,question,sql
0,Tell me what the notes are for South Australia,SELECT Notes FROM table WHERE Current slogan =...
1,What is the current series where the new serie...,SELECT Current series FROM table WHERE Notes =...
2,What is the format for South Australia?,SELECT Format FROM table WHERE State/territory...
3,Name the background colour for the Australian ...,SELECT Text/background colour FROM table WHERE...
4,how many times is the fuel propulsion is cng?,SELECT COUNT Fleet Series (Quantity) FROM tabl...

In [21]:
from langchain.document_loaders import DataFrameLoader

# page_content_column is the column name in the dataframe to create embeddings for:
loader = DataFrameLoader(df_new, page_content_column = 'question')
docs = loader.load()

In [ ]:
embeddings = HuggingFaceEmbeddings()
retrieval_db = FAISS.from_documents(docs, embeddings)

In [ ]:
def retrieve_info(query):
    """Performs similarity search basis the input query and returns the contents as an array."""
    
    simi_search = retrieval_db.similarity_search(query, k=3)
    retrieved_info = [info.page_content for info in simi_search]    
    return retrieved_info

In [ ]:
question = """Get the data from purchasepricesdec table where the price is greater than 100?"""

In [ ]:
print(retrieve_info(query))

In [ ]:
print(retrieve_info(query)[0])

In [ ]:
template = """ 
Given a question, first create a syntactically correct MySQL query by referring to the help provided in the sample questions 
and answers, then display the results of the MySQL query.  

The following is the question from the user:
{question}

sample question and sql answers:
{sample}
"""

prompt = PromptTemplate(input_variables=["question", "sample"], template=template)

In [ ]:
rag_db_chain = SQLDatabaseChain.from_llm(llm=llm, db=db, verbose=True)

In [ ]:
sample_ret = retrieve_info(question)
response = rag_db_chain.run(template.format(question=question, sample=sample_ret))
response